.top_header {
  background: #0fa958;
  @media (min-width: 991.98px) {
    display: none !important;
  }
  .callDiv {
    .phone {
      font-weight: 800;
    }
  }
  .statDiv {
    .stat {
      font-weight: 600;
    }
  }
}
