.top_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  .stats {
    gap: 10px;
    display: flex;
    align-items: center;
    .text {
      span {
        font-size: 12px;
      }
      h6 {
        font-size: 17px;
        font-weight: 700;
      }
    }
  }
  .call {
    .tel {
      font-size: 18px;
      font-weight: 700;
      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}
