<IfModule mod_rewrite.c>

  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]

</IfModule>

<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType image/jpg "access 1 year"
ExpiresByType image/jpeg "access 1 year"
ExpiresByType image/gif "access 1 year"
ExpiresByType image/png "access 1 year"
ExpiresByType text/css "access 1 month"
ExpiresByType text/html "access 1 month"
ExpiresByType application/pdf "access 1 month"
ExpiresByType text/x-javascript "access 1 month"
ExpiresByType application/x-shockwave-flash "access 1 month"
ExpiresByType image/x-icon "access 1 year"
ExpiresDefault "access 1 month"
</IfModule>
## EXPIRES CACHING ##


## EXPIRES CACHING ##
<IfModule mod_headers.c>
  <FilesMatch ".(js|css|xml|gz|html)$">
    Header append Vary: Accept-Encoding
  </FilesMatch>
</IfModule>
# BEGIN Cache-Control Headers
<ifModule mod_headers.c>
 <filesMatch "\.(ico|jpe?g|png||pdf|gif|swf)$">
 Header set Cache-Control "max-age=31536000, public"
 </filesMatch>
 <filesMatch "\.(css)$">
 Header set Cache-Control "max-age=604800, public"
 </filesMatch>
 <filesMatch "\.(js)$">
 Header set Cache-Control "max-age=216000, private"
 </filesMatch>
 <filesMatch "\.(x?html?|php)$">
 Header set Cache-Control "max-age=600, private, must-revalidate"
 </filesMatch>
</ifModule>



RewriteRule ^about\.php$ /about/who-we-are? [L,R=301]

RewriteRule ^apple\.php$ https://brandingpioneers.com/$1 [L,R=301]

RewriteRule ^appointment\.php$ /contact? [L,R=301]
RewriteRule ^contact-us-send\.php$ /contact? [L,R=301]
RewriteRule ^contact-us\.php$ /contact? [L,R=301]

RewriteRule ^blog\.php$ /blog? [L,R=301]
RewriteRule ^blog1\.php$ /blog? [L,R=301]
RewriteRule ^blog2\.php$ /blog? [L,R=301]
RewriteRule ^blog3\.php$ /blog? [L,R=301]
RewriteRule ^blog4\.php$ /blog? [L,R=301]
RewriteRule ^blog5\.php$ /blog? [L,R=301]
RewriteRule ^blog6\.php$ /blog? [L,R=301]

RewriteRule ^career-landing\.php$ /career? [L,R=301]
RewriteRule ^careerpage-me\.php$ /career? [L,R=301]
RewriteRule ^careerpage-me2\.php$ /career? [L,R=301]

RewriteRule ^content-marketing\.php$ /services? [L,R=301]

RewriteRule ^digital-marketing\.php$ /services? [L,R=301]

RewriteRule ^geeta.facelift-thread-lift-treatment4\.php$ /index.html? [L,R=301]

RewriteRule ^our-services\.php$ /services? [L,R=301]
RewriteRule ^our-service\.php$ /services? [L,R=301]

RewriteRule ^portfolio\.php$ /case-studies? [L,R=301]

RewriteRule ^seo\.php$ /services/digital-patient-acquistion/seo? [L,R=301]

RewriteRule ^social-media-marketing\.php$ /services/brand-building/social-media-marketing? [L,R=301]

RewriteRule ^thankyou\.php$ https://brandingpioneers.com/$1 [L,R=301]
$ 

RewriteRule ^video-production\.php$ /services/brand-building/video-marketing? [L,R=301]

RewriteRule ^web-designing-and-development\.php$ /web-services/medical-web-development? [L,R=301]
